In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("E:\\archive (1)\\credit_card_transactions-ibm_v2.csv")

In [4]:
df.columns

Index(['User', 'Card', 'Year', 'Month', 'Day', 'Time', 'Amount', 'Use Chip',
       'Merchant Name', 'Merchant City', 'Merchant State', 'Zip', 'MCC',
       'Errors?', 'Is Fraud?'],
      dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24386900 entries, 0 to 24386899
Data columns (total 15 columns):
 #   Column          Dtype
---  ------          -----
 0   User            int64
 1   Card            int64
 2   Year            int64
 3   Month           int64
 4   Day             int64
 5   Time            object
 6   Amount          object
 7   Use Chip        object
 8   Merchant Name   int64
 9   Merchant City   object
 10  Merchant State  object
 11  Zip             float64
 12  MCC             int64
 13  Errors?         object
 14  Is Fraud?       object
dtypes: float64(1), int64(7), object(7)
memory usage: 2.7+ GB

In [6]:
df.head()

,User,Card,Year,Month,Day,Time,Amount,Use Chip,Merchant Name,Merchant City,Merchant State,Zip,MCC,Errors?,Is Fraud?
0,0,0,2002,9,1,06:21,$134.09,Swipe Transaction,3527213246127876953,La Verne,CA,91750.0,5300,NaN,No
1,0,0,2002,9,1,06:42,$38.48,Swipe Transaction,-727612092139916043,Monterey Park,CA,91754.0,5411,NaN,No
2,0,0,2002,9,2,06:22,$120.34,Swipe Transaction,-727612092139916043,Monterey Park,CA,91754.0,5411,NaN,No
3,0,0,2002,9,2,17:45,$128.95,Swipe Transaction,3414527459579106770,Monterey Park,CA,91754.0,5651,NaN,No
4,0,0,2002,9,3,06:23,$104.71,Swipe Transaction,5817218446178736267,La Verne,CA,91750.0,5912,NaN,No

In [7]:
df.tail()

,User,Card,Year,Month,Day,Time,Amount,Use Chip,Merchant Name,Merchant City,Merchant State,Zip,MCC,Errors?,Is Fraud?
24386895,1999,1,2020,2,27,22:23,$-54.00,Chip Transaction,-5162038175624867091,Merrimack,NH,3054.0,5541,NaN,No
24386896,1999,1,2020,2,27,22:24,$54.00,Chip Transaction,-5162038175624867091,Merrimack,NH,3054.0,5541,NaN,No
24386897,1999,1,2020,2,28,07:43,$59.15,Chip Transaction,2500998799892805156,Merrimack,NH,3054.0,4121,NaN,No
24386898,1999,1,2020,2,28,20:10,$43.12,Chip Transaction,2500998799892805156,Merrimack,NH,3054.0,4121,NaN,No
24386899,1999,1,2020,2,28,23:10,$45.13,Chip Transaction,4751695835751691036,Merrimack,NH,3054.0,5814,NaN,No

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24386900 entries, 0 to 24386899
Data columns (total 15 columns):
 #   Column          Dtype
---  ------          -----
 0   User            int64
 1   Card            int64
 2   Year            int64
 3   Month           int64
 4   Day             int64
 5   Time            object
 6   Amount          object
 7   Use Chip        object
 8   Merchant Name   int64
 9   Merchant City   object
 10  Merchant State  object
 11  Zip             float64
 12  MCC             int64
 13  Errors?         object
 14  Is Fraud?       object
dtypes: float64(1), int64(7), object(7)
memory usage: 2.7+ GB

In [9]:
df['Date']=df['Year'] + df['Month'] + df['Day']

In [14]:
df['Date']=pd.to_datetime(df[["Year","Month","Day"]])

In [15]:
df['Date']

0          2002-09-01
1          2002-09-01
2          2002-09-02
3          2002-09-02
4          2002-09-03
              ...
24386895   2020-02-27
24386896   2020-02-27
24386897   2020-02-28
24386898   2020-02-28
24386899   2020-02-28
Name: Date, Length: 24386900, dtype: datetime64[ns]

In [42]:
df.tail()

,User,Card,Year,Month,Day,Time,Amount,Use Chip,Merchant Name,Merchant City,Merchant State,Zip,MCC,Errors?,Is Fraud?,Date
24386895,1999,1,2020,2,27,22:23,$-54.00,Chip Transaction,-5162038175624867091,Merrimack,NH,3054.0,5541,Insufficient Balance,No,2020-02-27
24386896,1999,1,2020,2,27,22:24,$54.00,Chip Transaction,-5162038175624867091,Merrimack,NH,3054.0,5541,Insufficient Balance,No,2020-02-27
24386897,1999,1,2020,2,28,07:43,$59.15,Chip Transaction,2500998799892805156,Merrimack,NH,3054.0,4121,Insufficient Balance,No,2020-02-28
24386898,1999,1,2020,2,28,20:10,$43.12,Chip Transaction,2500998799892805156,Merrimack,NH,3054.0,4121,Insufficient Balance,No,2020-02-28
24386899,1999,1,2020,2,28,23:10,$45.13,Chip Transaction,4751695835751691036,Merrimack,NH,3054.0,5814,Insufficient Balance,No,2020-02-28

In [17]:
df.isnull().sum()

User                     0
Card                     0
Year                     0
Month                    0
Day                      0
Time                     0
Amount                   0
Use Chip                 0
Merchant Name            0
Merchant City            0
Merchant State     2720821
Zip                2878135
MCC                      0
Errors?           23998469
Is Fraud?                0
Date                     0
dtype: int64

In [23]:
df["Errors?"].value_counts()

Insufficient Balance                                   242783
Bad PIN                                                 58918
Technical Glitch                                        48157
Bad Card Number                                         13321
Bad CVV                                                 10740
Bad Expiration                                          10716
Bad Zipcode                                              2079
Bad PIN,Insufficient Balance                              581
Insufficient Balance,Technical Glitch                     457
Bad PIN,Technical Glitch                                  128
Bad Card Number,Insufficient Balance                      122
Bad CVV,Insufficient Balance                               89
Bad Expiration,Insufficient Balance                        78
Bad Card Number,Bad CVV                                    60
Bad Card Number,Bad Expiration                             54
Bad Expiration,Bad CVV                                     47
Bad Expiration,Technical Glitch                            32
Bad Card Number,Technical Glitch                           25
Bad CVV,Technical Glitch                                   21
Bad Zipcode,Insufficient Balance                           13
Bad Zipcode,Technical Glitch                                7
Bad Card Number,Bad Expiration,Insufficient Balance         2
Bad Card Number,Bad Expiration,Technical Glitch             1
Name: Errors?, dtype: int64

In [34]:
df["Errors?"].fillna(method="bfill",inplace=True)

In [35]:
df["Errors?"].value_counts()

Insufficient Balance                                   13918704
Bad PIN                                                 4193138
Technical Glitch                                        3598827
Bad Card Number                                          931165
Bad CVV                                                  750128
Bad Expiration                                           746203
Bad Zipcode                                              149805
Bad PIN,Insufficient Balance                              28874
Insufficient Balance,Technical Glitch                     23953
Bad PIN,Technical Glitch                                   8668
Bad Card Number,Insufficient Balance                       8295
Bad CVV,Insufficient Balance                               5993
Bad Expiration,Insufficient Balance                        4492
Bad Card Number,Bad CVV                                    4367
Bad Expiration,Bad CVV                                     3611
Bad Card Number,Bad Expiration                             3368
Bad Card Number,Technical Glitch                           2534
Bad Expiration,Technical Glitch                            2061
Bad CVV,Technical Glitch                                   1549
Bad Zipcode,Technical Glitch                                589
Bad Zipcode,Insufficient Balance                            401
Bad Card Number,Bad Expiration,Insufficient Balance         164
Bad Card Number,Bad Expiration,Technical Glitch              11
Name: Errors?, dtype: int64

In [45]:
df.isnull().sum()

User                    0
Card                    0
Year                    0
Month                   0
Day                     0
Time                    0
Amount                  0
Use Chip                0
Merchant Name           0
Merchant City           0
Merchant State          0
Zip               2878135
MCC                     0
Errors?                 0
Is Fraud?               0
Date                    0
dtype: int64

In [37]:
df.drop(columns=["task"],inplace=True)

In [40]:
df["Merchant State"].value_counts()

CA                                  2591830
TX                                  1793298
FL                                  1458699
NY                                  1446864
OH                                   895970
                                     ...
Democratic Republic of the Congo          2
Tonga                                     2
Kiribati                                  1
Paraguay                                  1
Botswana                                  1
Name: Merchant State, Length: 223, dtype: int64

In [43]:
df["Merchant State"].fillna(method="ffill",inplace=True)

In [44]:
df

,User,Card,Year,Month,Day,Time,Amount,Use Chip,Merchant Name,Merchant City,Merchant State,Zip,MCC,Errors?,Is Fraud?,Date
0,0,0,2002,9,1,06:21,$134.09,Swipe Transaction,3527213246127876953,La Verne,CA,91750.0,5300,Technical Glitch,No,2002-09-01
1,0,0,2002,9,1,06:42,$38.48,Swipe Transaction,-727612092139916043,Monterey Park,CA,91754.0,5411,Technical Glitch,No,2002-09-01
2,0,0,2002,9,2,06:22,$120.34,Swipe Transaction,-727612092139916043,Monterey Park,CA,91754.0,5411,Technical Glitch,No,2002-09-02
3,0,0,2002,9,2,17:45,$128.95,Swipe Transaction,3414527459579106770,Monterey Park,CA,91754.0,5651,Technical Glitch,No,2002-09-02
4,0,0,2002,9,3,06:23,$104.71,Swipe Transaction,5817218446178736267,La Verne,CA,91750.0,5912,Technical Glitch,No,2002-09-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24386895,1999,1,2020,2,27,22:23,$-54.00,Chip Transaction,-5162038175624867091,Merrimack,NH,3054.0,5541,Insufficient Balance,No,2020-02-27
24386896,1999,1,2020,2,27,22:24,$54.00,Chip Transaction,-5162038175624867091,Merrimack,NH,3054.0,5541,Insufficient Balance,No,2020-02-27
24386897,1999,1,2020,2,28,07:43,$59.15,Chip Transaction,2500998799892805156,Merrimack,NH,3054.0,4121,Insufficient Balance,No,2020-02-28
24386898,1999,1,2020,2,28,20:10,$43.12,Chip Transaction,2500998799892805156,Merrimack,NH,3054.0,4121,Insufficient Balance,No,2020-02-28
24386899,1999,1,2020,2,28,23:10,$45.13,Chip Transaction,4751695835751691036,Merrimack,NH,3054.0,5814,Insufficient Balance,No,2020-02-28